# Postgres
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
DATABASE_URL=postgres://changeme:changeme@changeme:changeme/changeme

# Valkey
VALKEY_URL=redis://changeme:changeme

# JWT
JWT_SECRET=changeme

# GitHub OAuth
OAUTH_GITHUB_CLIENT_ID=changeme
OAUTH_GITHUB_CLIENT_SECRET=changeme
OAUTH_GITHUB_REDIRECT_URI=changeme

# Google OAuth
OAUTH_GOOGLE_CLIENT_ID=changeme
OAUTH_GOOGLE_CLIENT_SECRET=changeme
OAUTH_GOOGLE_REDIRECT_URI=changeme
